@{
    ViewData["Title"] = "Home Page";
}
@{

}
<div class="container-fluid">
    <div id="mainSlider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#mainSlider" data-slide-to="0" class="active item-slider" ></li>
            <li data-target="#mainSlider" data-slide-to="1" class="item-slider"></li>
            <li data-target="#mainSlider" data-slide-to="2" class="item-slider"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/dog.png" class="d-block w-100" />
            </div>
            <div class="carousel-caption d-none d-md-block">
                <h2>Legenda 1</h2>
                <p>Parágrafo</p>
                <a class =" main-btn"href="#">Clique Aqui</a>
            </div>

        </div>
    </div>
</div>
